ul {
    display: flex;

}

li {
    list-style: none;
    margin: 20px;
}

a {
    color: #fff;

}

header {
    display: flex;
    justify-content: space-between;
}

header h3 {
    color: #fff;
    margin-top: 20px;
}

.container a {
    text-decoration: none;
    text-align: center;

}

.text__hover {
    color: #9b9d9f;
}

.hearder {
    background-color: #212529;
}

a:hover {
    color: #fff;
}

/* Banner */
.banner-card {
    margin-top: 49px;
}

.card-body {
    background-color: #f8f9fa;
    height: 393px;

}

.card-text {
    font-weight: 500;
    font-size: 20px;
}

.card-body a {
    height: 47px;
    width: 150px;
    text-align: center;
    font-weight: 500;

}

.card-title {
    margin-top: 75px;
    font-weight: 800;
    font-size: 50px;
}

/* item */
.item {
    margin-top: 75px;
    border: none;
}

.item h5 {
    font-size: 20px;
    font-weight: 800;
}

.item p {
    font-size: 17px;
    font-weight: 300;
}

.one {
    display: flex;
    justify-content: space-between;
}

.two {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card1 .card-body {
    height: 195px;
    width: 375px;
}
.card-body i {
    position: relative;
    content: "";
    bottom: 55px;
    padding: 26px;
    background-color: #1671fd;
    color: #fff;
    border-radius: 12px;
}
.text {
    position: relative;
    content: "";
    bottom: 95px;
}
/* footer */
.footer {
    margin-top: 100px;
    background-color: #212529;
    color: #fff;

}

.footer p {
    padding: 54px;

}